@model Assignment12_2.Models.Book
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Book Details</h1>


        <div style="width: 100%;">
        <div name="details" style="width: 50%; height: 100px; float: left;"> 
<dl class="align-middle">
        <dt>
            @Html.DisplayNameFor(model=>model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Id)
        </dd>
                <dt>
            @Html.DisplayNameFor(model=>model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Title)
        </dd>
                <dt>
            @Html.DisplayNameFor(model=>model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Author)
        </dd>
                <dt>
            @Html.DisplayNameFor(model=>model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Description)
        </dd>
    </dl>
        </div>
        <div style="margin-left: 50%; height: 100px;"> 
        @if(Model.ImgName !=" ")
        {
            <center><img src="~/images/@Model.ImgName" alt="@Model.ImgName" height="300"></center>
        }
        <center>
                    <p><p>@Html.ActionLink("Back to books list", "Index", "Book")</p>
                           <p></p>
        <P></P>
        </center>

        </div>
    </div>
            <p></p>
        <P></P>